<div class="container">
	<div class="fullgray ng-scope">
		<div class="container-all wpsPortletBody">
			<div class="myaccount-base">
				<div class="boxstyle">
					<br>
					<h1 id="pagetitle" class="pagetitle ng-binding"">
						<span class="light">Utilizator: </span> <span class="medium">{{user.username}}
						</span>
					</h1>
					
					<br />
					<div class="myaccount-heading">
						<span class="light">Date </span> <span class="medium">cont:</span>
					</div>
					<table class="fullTable myaccount_info_box">
						<tbody>
							<tr>
								<td>Status:</td>
								<td>{{user.status}}</td>

							</tr>
							<tr>
								<td>Roluri:</td>

								<td><p ng-repeat="roleItem in user.roles">{{roleItem.role}}
									<a ng-if="isAdmin === true" class="button cursor orangeHover"  ng-click="removeRole(roleItem.role)">&nbsp;&nbsp;X</a></p></td>
							</tr>
						</tbody>
					</table>
					<div class="myaccount-heading" ng-show="isAdmin === true">
						<span class="light">Adauga </span> <span class="medium">Roluri:</span>
					</div>
					<table class="fullTable myaccount_info_box" ng-show="isAdmin === true">
						<tbody>
							<tr>
								<td>Rol:</td>
								<td><select name="status" id="status" ng-model="currentRole">
											<option value="USER">USER</option>
											<option value="ADMIN">ADMIN</option></select></td>
							<td><a class="cursor orangeHover" ng-click="addRole()">Adauga</a></td>
							</tr>

						</tbody>
					</table>
					<br ng-show="isAdmin === true" /> <a ng-if="isAdmin === true" class="button cursor orangeHover" ng-click="saveRoles()">
						Salveaza roluri </a>
					<hr ng-show="isAdmin === true"/>
					<br />
					<div class="myaccount-heading">
						<span class="light">Modifica </span> <span class="medium">parola:</span>
					</div>
					<table class="fullTable myaccount_info_box">
						<tbody>
							<tr>
								<td>Parola Noua:</td>
								<td><input type="password" ng-model="newPassword" /></td>

							</tr>
							<tr>
								<td>Confirma:</td>

								<td><input type="password" ng-model="confirmPassword"
									on-Enter="changePassword()" /></td>

							</tr>
						</tbody>
					</table>
					<br /> <a class="button cursor orangeHover" ng-click="changePassword()">
						Modifica </a>
					<hr />
					<div ng-show="isAdmin === true"> 
					<br /> <a ng-if="user.status === 'ONLINE'" class="button cursor orangeHover" ng-click="blockUnblockAccount()">
						Blocheaza utilizator </a>
						<a ng-if="user.status !== 'ONLINE'"class="button cursor orangeHover" ng-click="blockUnblockAccount()">
						Activeaza utilizator </a>
					<hr />
					</div>
					
					<div class="errorMessage" ng-if="errorMessage !== null">{{errorMessage}}</div>

					<div class="successMessage" ng-if="successMessage !== null">
						{{successMessage}}</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>
