<div class="container">
	<div class="fullgray ng-scope">
		<div class="container-all wpsPortletBody">
			<div class="myaccount-base">
				<div class="boxstyle">
					<br>
					<h1 id="pagetitle" class="pagetitle ng-binding" "> 
						<span class="light">Cauta </span> <span class="medium">Utilizatori</span>
					</h1> <br/>
					<table class="fullTable myaccount_info_box">
						<tbody>
							<tr>
								<td>Utilizator:</td>
								<td><input type="text" ng-model="username" on-Enter="search()" /></td>

							</tr>
							
						</tbody>
					</table>
					<br> <a class="errorMessage cursor orangeHover" ng-click="search()">Cauta</a>

					<br>
					<hr ng-show="results !== null && results.length > 0" />
					<table class="fullTable payments_history"
						ng-show="results !== null && results.length > 0">
						<tbody>
							<tr>
								<td width="100">&nbsp;</td>
								<td width="100">Utilizator</td>
								<td width="100">Status</td>
								<td width="100">Roluri</td>
							</tr>
							<tr ng-repeat="result in results">
								<td width="100"><a  class="cursor orangeHover" href="#/account/{{result.id}}">Detalii</a></td>
								<td width="100">{{result.username}}</td>
								<td width="100">{{result.status}}</td>
								<td width="100"><p ng-repeat="roleItem in result.roles">{{roleItem.role}}
							</p></td>
							</tr>
						</tbody>
					</table>
					<br/>
					<h3 ng-show="results !== null && results.length == 0">Cautarea
						nu a intors rezultate.</h3>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>
