<div class="container">
	<h2 class="page-header">Cauta Clienti</h2>
	<div class="searchBox">
		<table>
			<tr>
				<td>Utilizator:</td>
				<td><input type="text" ng-model="username" on-Enter="search()" /></td>
			</tr>

		</table>
		<br> <span class="button" ng-click="search()">Cauta
			Utilizator</span>
	</div>
	<br>
	<hr />
	<div class="responseBox">
		<div class="responseBoxHeader"
			ng-show="results !== null && results.length > 0">
			<h3>Rezultate</h3>
			<div class="resultTable">
				<div class="rTable">
					<div class="rTableRow">
						<div class="rTableHead">&nbsp;</div>
						<div class="rTableHead">Utilizator</div>
						<div class="rTableHead">Status</div>
						<div class="rTableHead">Roluri</div>
					</div>
					<div class="rTableRow" ng-repeat="result in results">
						<div class="rTableCell">
							<a href="#/account/{{result.id}}">Detalii</a>
						</div>
						<div class="rTableCell">{{result.username}}</div>
						<div class="rTableCell">{{result.status}}</div>
						<div class="rTableCell">
							<ul ng-repeat="roleItem in result.roles">{{roleItem.role}}
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

		<h3 ng-show="results !== null && results.length == 0">Cautarea nu
			a intors rezultate.</h3>
	</div>

</div>

