<div class="container">
	<div class="fullgray ng-scope">
		<div class="container-all wpsPortletBody">
			<div class="myaccount-base">
				<div class="boxstyle">
					<br>
					<h1 id="pagetitle" class="pagetitle ng-binding"">
						<span class="light">Adauga </span> <span class="medium">utilizator:
						</span><span class="dark">{{user.username}}</span>
					</h1>
					<br />
					<div class="myaccount-heading">
						<span class="light">Date </span> <span class="medium">cont:</span>
					</div>
					<table class="fullTable myaccount_info_box">
						<tbody>
							<tr>
								<td>Utilizator:</td>
								<td><input ng-model="user.username" /></td>

							</tr>
							<tr>
								<td>Parola:</td>
								<td><input type="password" ng-model="user.password" /></td>

							</tr>
							<tr>
								<td>Status:</td>

								<td><select name="status" id="status" ng-model="user.status">
											<option value="REQUESTED">REQUESTED</option>
											<option value="ONLINE">ONLINE</option></select></td>

							</tr>
						</tbody>
					</table>
					<br />
					<div class="myaccount-heading">
						<span class="light">Adauga </span> <span class="medium">Roluri:</span>
					</div>
					
					<table class="fullTable myaccount_info_box">
						<tbody>
							<tr>
								<td>Rol:</td>
								<td><select name="status" id="status" ng-model="currentRole">
											<option value="USER">USER</option>
											<option value="ADMIN">ADMIN</option></select></td>
							<td><a class="cursor orangeHover" ng-click="addRole()">Adauga</a></td>
							</tr>

						</tbody>
					</table>
					<br />
					<div class="myaccount-heading">
						<span class="light">Roluri </span> <span class="medium">curente:</span>
					</div>
					<table class="fullTable myaccount_info_box">
						<tbody>
							<tr ng-repeat="roleItem in roles">
								<td>{{roleItem.role}}</td>
								<td><a class="cursor orangeHover"  ng-click="removeRole(roleItem.role)">X</a></td>
							</tr>

						</tbody>
					</table>
					<br/>
					<a class="button cursor orangeHover" ng-click="save()"> Adauga Utilizator </a>
					<div class="error" ng-if="errorMessage !== null">A aparut o eroare.</div>

					<div class="successMessage" ng-if="successMessage !== null">
						{{successMessage}}</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>

