<script>
	$(function() {
		$("#dateOfBirthDatePicker").datepicker({
			dateFormat : 'dd-mm-yy'
		});
		$("#expireDateDatePicker").datepicker({
			dateFormat : 'dd-mm-yy'
		});
	});
</script>
<div class="container">


	<div class="fullgray ng-scope">
		<div class="container-all wpsPortletBody">
			<div class="myaccount-base">
				<div ng-show="showUploadForm !== null && showUploadForm == true">
					<h1 id="pagetitle" class="pagetitle ng-binding"">

						<span class="light">Incarca </span> <span class="medium">poza
						</span><span class="medium">CI.</span> <br />
					</h1>
					<br />
					<div class="clientContainer">
						<input type="file" ng-file-model="uploadFile" /> <br />
						<p>Poza trebuie sa fie crop pe zona de OCR de pe CI in format
							jpg.</p>
						<hr />
						<a class="button cursor orangeHover" ng-click="saveFromFile()">Salveaza
							Client</a> <br />
						<hr />
						<a class="button cursor orangeHover" ng-click="toggleShowUploadForm()">Inapoi
							la introducere manuala</a> <br />
						<br />
						<hr ng-if="errorMessage !== null" />
						<div class="error" ng-if="errorMessage !== null">A aparut o eroare.</div>
					</div>
				</div>
				<div ng-show="showUploadForm !== true">
					<div
						ng-show="showUploadButton != undefined && showUploadButton != null">
						<a class="cursor orangeHover" ng-click="toggleShowUploadForm()">Incarca
							din poza CI</a> <br />
						<hr />
					</div>

					<div class="boxstyle">
						<br>
						<h1 id="pagetitle" class="pagetitle ng-binding"">
							<span class="light">Client </span> <span class="medium">{{fullName}}</span>
						</h1>
						<br />
						<table class="fullTable myaccount_info_box">
							<tbody>
								<tr>
									<td>CNP:</td>
									<td><input type="text"
										ng-value="clientSearch.securityCode"
										ng-model="client.securityCode" /></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Seria:</td>
									<td><input type="text" ng-value="client.serialCode"
										ng-model="client.serialCode" /></td>
									<td>Nr:</td>
									<td><input type="text" ng-value="client.serialNumber"
										ng-model="client.serialNumber" /></td>
								</tr>
								<tr>
									<td>Nume:</td>
									<td><input type="text" ng-value="client.lastName"
										ng-model="client.lastName" /></td>
									<td>Sex:</td>
									<td><select name="sex" id="sex" ng-model="client.sex">
											<option value="M">Barbat</option>
											<option value="F">Femeie</option>
									</select></td>
								</tr>
								<tr>
									<td>Prenume 1:</td>
									<td><input type="text" ng-value="client.firstName1"
										ng-model="client.firstName1" /></td>
									<td>Prenume 2:</td>
									<td><input type="text" ng-value="client.firstName2"
										ng-model="client.firstName2" /></td>
								</tr>
								<tr>
									<td>Data nasterii:</td>
									<td><input type="text"
										value="{{client.dateOfBirth | date : 'dd-MM-yyyy'}}"
										id="dateOfBirthDatePicker"></td>
									<td>Data expirare:</td>
									<td><input type="text"
										value="{{client.expireDate | date : 'dd-MM-yyyy'}}"
										id="expireDateDatePicker"></td>
								</tr>
								<tr>
									<td>Email:</td>
									<td><input type="text" ng-value="client.emailAddress"
										ng-model="client.emailAddress" /></td>
									<td>Telefon:</td>
									<td><input type="text" ng-value="client.phoneNumber"
										ng-model="client.phoneNumber" /></td>
								</tr>
								<tr>
									<td>Adresa:</td>
									<td colspan="3"><input class="address_bar" type="text" ng-value="client.address"
										ng-model="client.address" /></td>

									
								</tr>
							</tbody>
						</table>
					</div>
					<br /> <a class="button cursor orangeHover" ng-click="save()">Salveaza
						Modificarile</a> <a ng-show="client.id !== null"
						class="button cursor orangeHover fright" ng-click="toggleDeletePopUp()">Sterge
						Client</a> <br /> <br />
					<hr ng-if="successMessage !== null || errorMessage !==null">
					<p class="successMessage" ng-if="successMessage !== null">
						{{successMessage}}</p>
					<div class="error" ng-if="errorMessage !== null">A aparut o eroare.</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="popup" id="popup2" ng-if="overlay === true">
  <div class="myaccount-heading">
						<span class="light">Confirmare </span> <span class="medium">stergere </span><span class="dark">client!</span>
					</div>
  <p>Esti sigur ca vrei sa stergi acest client?</p>
  <br/> <br/>
  <a class="button cursor orangeHover" ng-click="deleteClient()"> OK </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class="button cursor orangeHover" ng-click="toggleDeletePopUp()"> Cancel </a>
</div>





