<div class="header" ng-controller="HeaderCtrl" ng-init="getUserFromServices()">
    <header>
        <a href="#/">
            <img id="logo" src="../images/header.png" alt="NN direct" border="0">
        </a>
    </header>
    
    <div class="clear"></div>
    <div class="content" >
        <nav>
            <ul style="float:left">
            <li><a class="cursor orangeHover" href="#/search">Cauta Clienti</a></li>
				<li><a class="cursor orangeHover" href="#/create">Adauga Client</a></li>
				<li class="cursor orangeHover" ng-show="showAdminPages == true" ><a class="dropdown-toggle"
					data-toggle="dropdown">Administrare Utilizatori<b class="caret"></b></a>
					<ul class="dropdown-menu" >
						<li><a class="cursor orangeHover" href="#/accounts">Cautare Utilizatori</a></li>
						<li><a class="cursor orangeHover" href="#/adaugare">Adaugare Utilizator</a></li>
					</ul></li>
				<li><a class="cursor orangeHover" href="#/myAccount">Datele Mele</a></li>
			</ul>	
            <ul style="float:right;" class="myaccount">			  
             <li><a class="cursor orangeHover" href="#/logout">Delogare</a></li>
            </ul>
            <div class="clear"></div>
        </nav>
        <div class="clear"></div>
    </div>
</div>
<hr />